
<!-- include header begin -->
<%- include('include/_header')%>
<!-- include header end -->


     <!-- main site begin -->
     <main id="site-main">
        <div class="container">
            <div class="box-nav-d-flex-justify-between">
                <a href="/add-child">
                    <span class="text-gradient"> New Child <i class="fa-regular fa-user"></i> </span>
                </a>
            </div>

             <!-- form handling-->
             <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Child Name</th>
                            <th>Parents Name</th> 
                            <th>Contact Number</th> 
                            <th>Teacher</th> 
                            <th>Gender</th>
                            <th>Date Of Birth</th>
                            <th>Edit</th>
                        </tr>
                    </thead>

                    <tbody>
                        <%childList.forEach(child => {%>
                            <tr>
                                <th scope="row"><%= child._id %></th>
                                <td><%= child.name %></td>
                                <td><%= child.birthday %></td>
                                <td><%= child.parents %></td>
                                <td><%= child.number %></td>
                                <td><%= child.teacher %></td>
                                <td><%= child.gender %></td>
                            </tr>
                        <%})%> 
                        </tbody>

                </table>
            </form>

        </div>
    </main>
    <!-- main site end -->


<!-- include footer begin -->
<%- include('include/_footer')%>
<!-- include footer end -->