

<% for(var i =0; i < staffs.length; i++) { %>
    <tr>
        <td><%= i + 1 %> </td>
        <td><%= staffs[i].name %></td>
        <td><%= staffs[i].email %></td>
        <td><%= staffs[i].number %></td>
        <td><%= staffs[i].position %></td>
        <td><%= staffs[i].birthday %></td>
        <td><%= staffs[i].gender %></td>
        <td><%= staffs[i].status %></td>
        <td>
            <!-- <a href="/update-staff/" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>

            <a href="/delete-staff/" class="btn border-shadow delete">
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a> -->

        </td>
    </tr>
<% } %>